.divider {
  font-size: 13px;
  font-weight: 600;
  position: relative;
}

.line {
  width: 100%;
  position: absolute;
  height: 1px;
  left: 0;
  top: 50%;
  background: linear-gradient(
    to right,
    #e6e6e6 40%,
    transparent 40%,
    transparent 60%,
    #e6e6e6 60%
  );
}
